<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<html>
    <header>
        <form method = "POST" action = "" autocomplete = "off">
                {{ form.csrf_token }}
                <div class = 'searchbar'> 
                    {{form.search(class = "form-control-lg center")}}
                    {{form.submit(class = "btn btn-outline info")}}
                </div>
        </form>
    </header>
    <body>
        {% if links %}
            {% for url in links %}
                <div class = 'link'> <a href = {{url}} > {{url}}</a> </div>
            {% endfor %}
        {% endif %}
    </body>
</html>
